# Source: https://github.com/github/gitignore/blob/main/Terraform.gitignore

.DS_Store
thumbs.db

# Local .terraform directories
.terraform
**/.terraform/**/**

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform plan files
tfplan
*.tfplan
*.tfplan.*

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
